*{
  background-color: wheat;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
  color: red;
  line-height: 30px;
}
h3{
 color: black;
 
}
h1{
  text-decoration: underline;
}
span{
  text-decoration: underline;
}
a{
  color: green;
  text-decoration: none;
}
button{
  background-color: white;
  color: blueviolet;
}